extends layout

block content
  h1#logo.container=title
  .container.typo
    h4 文章归档
    section#posts
      each posts in body
        div
          i=posts.number+' . '
          a(href=`./article/${posts.number}`)=posts.title
          small= ' '+posts.created_at
          p='no description'
  script(src='./javascripts/bundle.js')
